/** Styling for the navbar component, this isn't set in stone.
Feel free to poke at this as you please. **/
.nav{
    background-color: #56bbf9;
    width:100%;
    height:64px;
    display: flex;
    justify-content: space-evenly;
    color: white
}
.nav-item{
    width: 25%;
    justify-content: center;
    display: flex;
    align-items: center;
    transition: .7s;
    font-size: 18px;
    border-bottom: 5px solid #56bbf9;
    cursor: pointer;
}
.nav-item.curr{
    border-bottom: 5px solid #ffdf93;
    color:#ffdf93;
}

.nav-item.nohov:hover{
    color: white;
}
.nav-item:hover{
    color: #ffdf93;
    /**color: #f4b740; **/
}
.logo{
    width:80%;
}