.res-div {
    width: 80%;
    display: flex;
    height: auto;
    max-height: 500px;
    padding: 40px;
}

.filt-div {
    width: 10%;
    display: block;
    padding: 10px;
}

.tix-div {
    width: inherit;
    display: table-row;
    padding: 10px;
    text-align: center;
}