.res-div {
    width: 80%;
    display: flex;
    height: auto;
    max-height: 500px;
    top: 232px;
    position: absolute;
    padding: 40px;
}

.filt-div {
    width: 10%;
    display: block;
    padding: 10px;
}

.tix-div {
    width: inherit;
    display: flex;
    flex-direction: column;
    padding: 10px;
    text-align: center;
    height: calc(100vh);
}