#s-header{
    margin: 48px;
}
.autocomplete{
    position:relative;
    display:inline-block;
    width: 33%;
    max-width: 35%;
}
.form-div{
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    height: 71px;
    max-height: 500px;
}
.s-contain{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: calc(100vh);
}
.s-form{
    width: 100%;
    display: flex;
}

.s-input{
    /**width: 20%;**/
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 18px;
    font-family: 'Helvetica';
    width:100%;
    max-width: 91%;
}
.s-input.dt{
    padding: 7px 10px 7px 8px;
    max-width:89%;
}

.res-div{
    height: calc(100vh);
    display:flex;
}
.filt-div{
    display:flex;
    width: 20%;
}
.tix-div{
    display:flex;
    width: 80%;
}
.auto-items{
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
    max-width:96.4%;
}
.auto-item{
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;

}
.auto-item:hover{
    background-color: #f1f1f1;
}
.filt-butt{
    width:5%;
    background-color: ghostwhite;
}
.airp-name{
    padding: 2% 0 0 4%;
}
.date{
    width:33%;
}